Externals

example/ios/iOS UI Test/DerivedData
scripts/prebuilt.list
scripts/installed-deps-versions.plist

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xcuserstate
*.xccheckout
build-mac/mailcore2.xcodeproj/project.xcworkspace/xcshareddata

#CocoaPods
Pods
Podfile.lock

#Windows
*.sdf
*.opensdf
*.suo
Externals
windows/legacy-vs2019/include
windows/legacy-vs2019/_headers_depends
windows/legacy-vs2019/mailcore2/Debug
windows/legacy-vs2019/mailcore2/Release
windows/legacy-vs2019/mailcore2/x64/Debug
windows/legacy-vs2019/mailcore2/x64/Release
windows/legacy-vs2019/mailcore2/mailcore2/Release
windows/legacy-vs2019/mailcore2/mailcore2/x64/Release
windows/legacy-vs2019/mailcore2/mailcore2/Debug
windows/legacy-vs2019/mailcore2/mailcore2/x64/Debug
windows/legacy-vs2019/mailcore2/test/Release
windows/legacy-vs2019/mailcore2/test/x64/Release
windows/legacy-vs2019/mailcore2/test/Debug
windows/legacy-vs2019/mailcore2/test/x64/Debug
windows/legacy-vs2019/mailcore2/mailcore2/mailcore2.vcxproj.user
cocoapods-build
*.aar
.build
.vs

LinuxMain.swift
third-party
test.log
junit.xml
.build-ios
ndk-stack.log

# SwiftPM local state
Package.resolved
.swiftpm/
